block footer
nav(aria-label="Page navigation example")
	ul(class="pagination")
li(class="page-item") Previous
li(class="page-item") 1
li(class="page-item") 2
li(class="page-item") 3
li(class="page-item") Next